
.DS_Store
*.xcuserstate
*.xcuserstate
.swiftpm/xcode/package.xcworkspace/xcuserdata/galenquinn.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/package.xcworkspace/xcuserdata/galenquinn.xcuserdatad/UserInterfaceState.xcuserstate
